body {
    font-family: 'Times new roman', Courier, monospace;
    background-color: rgb(146, 184, 255);
}
.judul {
    text-align: center;
}
#btn {
    color: rgb(0, 0, 0);
    background-color: #e7ecfc;
    padding: 0 20px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
#btn:hover{
    color: #001f85(255, 234, 234);
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
    transform: scale(1.);
}
.activity::placeholder{
    color: rgb(201, 201, 201);
}
.form {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
#list li {
    display: flex;
    margin: auto;
    border: none;
    border-radius: 15px;
    background-color: rgb(96, 98, 190);
    padding: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    list-style: none;
    width: 50%;
}

.btnEdit {
    color: black;
    background-color: rgb(194, 192, 81);
    padding: 0px 15px;
    border: none;
    margin-left: 30px;
}
.btnEdit:hover {
    background-color: rgb(117, 117, 211);
}
.btnDelete {
    color: black;
    background-color: rgb(197, 69, 69);
    border: none;
    margin-left: 10px;
}
.btnDelete:hover {
    background-color: rgb(208, 108, 108);
}